@import "./_variables";
.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardbanner {
  display: flex;
  width: 1200px;
  min-height: 525px;
  margin-top: space(xxl);
  box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 8px;
  overflow: hidden;
  border-radius: space(lg);

  &--hover {
    @extend .cardbanner;
    background: 0% 0% no-repeat padding-box padding-box rgb(237, 237, 237) !important;
  }

  &__carousel-container {
    width: 75%;
    display: flex;
    flex-direction: column;
  }

  &__category-container {
    margin: space(md);
    width: 25%;
    max-width: 25%;
    &--hover {
      @extend .cardbanner__category-container;
      background: 0% 0% no-repeat padding-box padding-box rgb(237, 237, 237) !important;
    }
  }

  &__category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__category-label {
    font-size: 13px;
    font-weight: 550;
    letter-spacing: 0.5;

    &--normal {
      @extend .cardbanner__category-label;
      color: color(dark, 500);
    }

    &--blue {
      cursor: pointer;
      @extend .cardbanner__category-label;
      color: color(primary, 500);
    }
  }

  &__list-container {
    margin-top: space(xl);
    display: flex;
    flex-direction: column;
  }

  &__list-divider {
    margin-top: space(xs);
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.08);
  }

  &__list-items {
    cursor: pointer;
    padding: space(sm) space(sm) space(xs);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5;
    color: color(dark, 500);

    &:hover {
      border-radius: space(sm);
      background: white;
      color: color(primary, 500);
    }
  }
}

.newproduct {
  background-color: rgb(237, 237, 237);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: space(xxl);

  &__content-title {
    color: color(dark, 500);
    font-size: space(xl);
    font-weight: 500;
    margin-bottom: space(md);
  }

  &__content {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    padding: space(lg) 0 space(lg);
  }

  &__carousel {
    margin-top: space(xxl);
  }
}

.block-body {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: hidden;
  z-index: 10;
}
